{% extends "base.html" %}

{% block content %}
<div class="event-detail-container">
    <img src="{{ event.image_url }}" alt="{{ event.event_name }}">
    <div class="event-detail">
        <h1>{{ event.event_name }}</h1>
        <p>{{ event.date }} | {{event.time}} | {{ event.event_tag }}</p>
        <h3>Location:</h3>
        <p>{{ event.location }}</p>
        <h3>About:</h3>
        <p>{{event.description}}</p>
        <div class="event-booking">
            <h3>click here to book ticket</h3>
            <a href="{{event.booking_url}}">Book</a>
        </div>
    </div>
</div>
{% endblock %}
