{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function scroll(container, direction) {
            const scrollAmount = 440;
            container.scrollBy(direction === 'left' ? -scrollAmount : scrollAmount, 0);
        }

        document.querySelectorAll('.cover').forEach(cover => {
            const leftButton = cover.querySelector('.left');
            const rightButton = cover.querySelector('.right');
            const container = cover.querySelector('.events-container');
            
            if (leftButton && rightButton && container) {
                leftButton.addEventListener('click', function() {
                    scroll(container, 'left');
                });

                rightButton.addEventListener('click', function() {
                    scroll(container, 'right');
                });
            }
        });
        {% if not user.is_authenticated %}
            document.querySelectorAll('.view-all-link').forEach(link => {
                link.addEventListener('click', function(event) {
                    event.preventDefault(); // Prevent the default link action
                    document.getElementById('login-popup').style.display = 'block';
                });
            });

            document.getElementById('close-popup').addEventListener('click', function() {
                document.getElementById('login-popup').style.display = 'none';
            });
        {% endif %}
    });
</script>

<!-- Popup Modal for Login Alert -->
<div id="login-popup" class="popup">
    <div class="popup-content">
        <span id="close-popup" class="close">&times;</span>
        <p>You need to be logged in to view all events.</p>
        <a href="{% url 'users:login' %}?next={{ request.path }}">Login</a>
    </div>
</div>

<section class="events-section">
    <div class="section-header">
        <h2>Upcoming Events</h2>
        {% if user.is_authenticated %}
            <a href="{% url 'users:events_by_tag' 'Upcoming' %}" class="view-all-link">view all</a>
        {% else %}
            <a href="#" class="view-all-link">view all</a>
        {% endif %}
    </div>
    <div class="cover">
        <button class="left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </button>
        <div class="events-container">
            {% for event in events %}
                <a href="{% url 'users:event_detail' event.id %}" class="event-card">
                    <img src="{{ event.image_url }}" alt="{{ event.event_name }}">
                    <div class="event-content">
                        <h5>{{ event.event_name }}</h5>
                        <p>{{ event.event_tag }}, {{ event.city }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <button class="right">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
</section>

<section class="events-section">
    <div class="section-header">
        <h2>Search Events By Genre</h2>
    </div>
    <div class="tag-container">
        {% for tag, events in events_by_tag.items %}
        <a href="{% url 'users:events_by_tag' tag %}" class="tag-card">
            <img src="{% static 'images/' %}{{ tag|lower|slice:"4" }}.png" alt="{{ tag }}">
        </a>
        {% endfor %}
    </div>
</section>

{% if user.is_authenticated%}
<section class="events-section">
    <div class="section-header">
        <h2>Recommended for You</h2>
    </div>
    <div class="cover">
        <button class="left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </button>
        <div class="events-container">
            {% for event in recommended_events %}
                <a href="{% url 'users:event_detail' event.id %}" class="event-card">
                    <img src="{{ event.image_url }}" alt="{{ event.event_name }}">
                    <div class="event-content">
                        <h5>{{ event.event_name }}</h5>
                        <p>{{ event.event_tag }}, {{ event.city }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <button class="right">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
</section>
{% endif %}

{% for tag, events in events_by_tag.items %}
<section class="events-section">
    <div class="section-header">
        <h2>{{ tag }}</h2>
        {% if user.is_authenticated %}
            <a href="{% url 'users:events_by_tag' tag %}" class="view-all-link">view all</a>
        {% else %}
            <a href="#" class="view-all-link">view all</a>
        {% endif %}
    </div>
    <div class="cover">
        <button class="left">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
        </button>
        <div class="events-container">
            {% for event in events %}
                <a href="{% url 'users:event_detail' event.id %}" class="event-card">
                    <img src="{{ event.image_url }}" alt="{{ event.event_name }}">
                    <div class="event-content">
                        <h5>{{ event.event_name }}</h5>
                        <p>{{ event.event_tag }}, {{ event.city }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        <button class="right">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </button>
    </div>
</section>
{% endfor %}
{% endblock %}
